.flex-row,
.flex-column,
.flex-row-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-row-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* 多行布局 */
.flex-row-wrap,
.flex-column {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 子元素反向排列 */
.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* 子元素默认平均分布 */
.flex-row > * {
  display: block;
}
.flex-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* 垂直居中 */
.flex-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* 底部对齐 */
.flex-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
/* 沿主轴方向排列方式 */
.flex-justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex-justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* 沿侧轴方向排列方式 */
.flex-align-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flex-align-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.flex-align-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}
.flex-align-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.flex-col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}
.noc-color-orange {
  color: rgba(236, 142, 58, 0.9);
}
.noc-color-red {
  color: rgba(207, 63, 55, 0.9);
}
.noc-color-cyan {
  color: rgba(69, 149, 154, 0.9);
}
.noc-color-green {
  color: rgba(94, 191, 68, 0.9);
}
.noc-color-peach {
  color: rgba(237, 111, 86, 0.9);
}
.noc-color-blue {
  color: rgba(0, 160, 255, 0.9);
}
.noc-color-white {
  color: rgba(255, 255, 255, 0.9);
}
.noc-color-black {
  color: #000;
}
.noc-color-normal {
  color: rgba(255, 255, 255, 0.9);
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-family: 'San Fransisco', Helvetica, 'PingFang SC', Arial, 'Microsoft YaHei', sans-serif;
  overflow: hidden;
  background-color: #000;
}
.noc-main-title {
  position: absolute;
  left: 50%;
  top: 32px;
  z-index: 1001;
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
  transform: translate3d(-50%, 0, 0);
}
.noc-contents {
  z-index: 1000;
  padding: 32px 48px;
  box-sizing: border-box;
  position: relative;
}
.noc-contents-col {
  padding: 32px 16px;
  overflow: hidden;
}
.noc-contents-col > * + * {
  margin-top: 32px;
}
.noc-component {
  position: relative;
}
.noc-component .noc-component-content {
  height: 100%;
  overflow: hidden;
}
.noc-component .noc-separate-flex {
  flex-basis: 1px;
  flex-grow: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 135, 255, 0.5), rgba(0, 0, 0, 0));
}
.noc-card {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: inset 0 0 128px rgba(35, 120, 230, 0.3);
}
.noc-card .noc-component-content {
  padding: 32px 0 16px 0;
}
.noc-card .noc-component-caption {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(32px, -50%, 0);
  font-size: 0.8em;
  padding: 0.3em 0.5em 0.3em 0.75em;
  border-radius: 8px;
  line-height: 1;
  background: linear-gradient(to right, rgba(3, 163, 238, 0.6) 5px, rgba(58, 120, 148, 0.5) 5px, rgba(58, 120, 148, 0.2));
}
.noc-card .noc-component-coners-top,
.noc-card .noc-component-coners-bottom {
  position: absolute;
  left: 0;
  right: 0;
}
.noc-card .noc-component-coners-top:before,
.noc-card .noc-component-coners-bottom:before,
.noc-card .noc-component-coners-top:after,
.noc-card .noc-component-coners-bottom:after {
  content: ' ';
  height: 16px;
  width: 16px;
  border-width: 2px;
  border-style: none;
  border-color: #e1faff;
}
.noc-card .noc-component-coners-top {
  top: 0;
}
.noc-card .noc-component-coners-top:before {
  -webkit-border-top-left-radius: 16px;
  border-style: solid none none solid;
  float: left;
}
.noc-card .noc-component-coners-top:after {
  -webkit-border-top-right-radius: 16px;
  border-style: solid solid none none;
  float: right;
}
.noc-card .noc-component-coners-bottom {
  bottom: 0;
}
.noc-card .noc-component-coners-bottom:before {
  -webkit-border-bottom-left-radius: 16px;
  border-style: none none solid solid;
  float: left;
}
.noc-card .noc-component-coners-bottom:after {
  -webkit-border-bottom-right-radius: 16px;
  border-style: none solid solid none;
  float: right;
}
.noc-overview .noc-overview-label,
.noc-overview .noc-overview-value {
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 1.4;
}
.noc-overview .noc-overview-label {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.7777em;
  padding-top: 0.4em;
  word-break: keep-all;
  white-space: nowrap;
}
.noc-overview .noc-content-col {
  padding: 0 16px;
}
.noc-overview-vertical .noc-overview-label,
.noc-overview-vertical .noc-overview-value {
  display: inline-block;
  width: auto;
  line-height: 1.4;
}
.noc-overview-vertical .noc-overview-label {
  text-align: right;
  height: 60%;
}
.noc-overview-vertical .noc-overview-value {
  font-size: 1.8em;
}
.noc-overview-vertical .noc-component-content {
  padding: 56px 0 16px 0;
}
.noc-overview-vertical .noc-component-caption {
  font-size: 1.2em;
  left: 50%;
  transform: translate3d(-50%, -30%, 0);
  color: rgba(255, 255, 255, 0.9);
  padding: 0.3em 1em;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(3, 163, 238, 0.6) 5%, rgba(58, 120, 148, 0.5) 5%, rgba(58, 120, 148, 0.5) 95%, rgba(3, 163, 238, 0.6) 95%, rgba(3, 163, 238, 0.6));
}
.noc-overview-vertical .noc-content-row {
  text-align: center;
}
.noc-table .noc-component-content .noc-table-header,
.noc-table .noc-component-content .noc-table-body {
  padding: 0 1em;
  overflow: hidden;
}
.noc-table .noc-component-content .noc-table-header {
  font-size: 0.8em;
  max-height: 1.5em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}
.noc-table .noc-component-content .noc-table-body .noc-table-row > *,
.noc-table .noc-component-content .noc-table-header .noc-table-row > * {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  padding: 0 0.5em;
}
.effects-layer {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.effects-layer .effects-round {
  position: absolute;
}
.effects-layer .effects-round > * {
  border-radius: 256px;
  height: 512px;
  width: 512px;
  border-width: 16px;
  border-style: solid;
  border-color: rgba(0, 160, 255, 0.9) transparent;
}
.effects-layer .effects-rotate {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.effects-layer .effects-rotate-anti {
  animation: rotate-anti 5s linear infinite;
}
@keyframes rotate-anti {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#noc-bg-star {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#noc-bg-star {
  z-index: 0;
}
.border-corner {
  background: transparent url("/resources/images/noc/border-corner.svg") no-repeat scroll 50% 50%;
  position: absolute;
  width: 540px;
  height: 360px;
  opacity: 0.3;
}
.border-corner.border-corner-top-left {
  top: 16px;
  left: 16px;
}
.border-corner.border-corner-top-right {
  top: 16px;
  right: 16px;
  transform: rotateY(180deg);
}
.border-corner.border-corner-bottom-right {
  bottom: 16px;
  right: 16px;
  transform: rotateX(180deg) rotateY(180deg);
}
.border-corner.border-corner-bottom-left {
  bottom: 16px;
  left: 16px;
  transform: rotateX(180deg);
}
.border-top {
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translate3d(-50%, 0, 0);
  height: 32px;
  width: 30%;
  border-top: 4px solid rgba(35, 120, 230, 0.3);
}
.border-top:before {
  content: ' ';
  margin: 16px 16px 0;
  display: block;
  border-top: 32px solid rgba(35, 120, 230, 0.15);
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
}
.border-top:after {
  content: ' ';
  display: block;
  width: 520px;
  margin: 0 auto;
  border-top: 48px solid rgba(35, 120, 230, 0.15);
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
}
@keyframes BCFlush {
  0% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.2;
  }
  91% {
    opacity: 0.5;
  }
  92% {
    opacity: 0.2;
  }
  93% {
    opacity: 0.5;
  }
  94% {
    opacity: 0.2;
  }
  95% {
    opacity: 0.5;
  }
  96% {
    opacity: 0.2;
  }
  97% {
    opacity: 0.5;
  }
  98% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
body {
  background-color: #000;
}
#main {
  font-size: 32px;
  color: #00a0ff;
  overflow: hidden;
}
#noc-map-advance-cover-cinema {
  position: relative;
  overflow: visible;
}
#noc-map-advance-cover-cinema .noc-component-content {
  position: absolute;
  height: 720px;
  width: calc(100% + 64px);
  bottom: -96px;
  right: -32px;
}
#noc-cinema-ad-list .noc-overview-label,
#noc-cinema-tms-list .noc-overview-label,
#noc-cinema-goods-list .noc-overview-label {
  padding-top: 0.8em;
}
#noc-cinema-ad-list .noc-overview-value,
#noc-cinema-tms-list .noc-overview-value,
#noc-cinema-goods-list .noc-overview-value {
  padding-top: 0.4em;
}
#noc-all-cinema-overview .noc-overview-value,
#noc-all-advance-overview .noc-overview-value {
  font-size: 1.5em;
}
#noc-cooperative-cinema-overview .noc-overview-label {
  padding-top: 1.4em;
  font-size: 1em;
}
#noc-cooperative-cinema-overview .noc-overview-value {
  font-size: 1.8em;
}
#noc-all-advance-cover-cinema .noc-overview-label {
  padding-top: 0.8em;
}
#noc-all-advance-cover-cinema .noc-overview-value {
  padding-top: 0.3em;
  font-size: 1.5em;
}
#noc-advance-ring-chat .title-left,
#noc-advance-ring-chat .title-right {
  position: absolute;
  top: 64px;
  word-break: keep-all;
  white-space: nowrap;
}
#noc-advance-ring-chat .title-left {
  left: 25%;
  transform: translate3d(-50%, -50%, 0);
}
#noc-advance-ring-chat .title-right {
  left: 70%;
  transform: translate3d(-50%, -50%, 0);
}
#noc-advance-settle .noc-table-row > *:nth-child(1) {
  width: 45%;
}
#noc-advance-settle .noc-table-row > *:nth-child(2) {
  width: 10%;
  text-align: right;
}
#noc-advance-settle .noc-table-row > *:nth-child(3) {
  width: 20%;
  text-align: right;
}
#noc-advance-settle .noc-table-row > *:nth-child(4) {
  width: 25%;
  text-align: right;
}

/*# sourceMappingURL=main.bundle.css.map */
