<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shadowbane - ardan - disciplines</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css"
          rel="stylesheet"
          href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link type="text/css" rel="stylesheet" href="../style.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>-->
    <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/vue@latest/dist/vue.esm-browser.prod.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>
<body>
<div id="main">
    <div>
        <b-table v-if="loaded" striped hover :items="items" :fields="fields">
            <slot slot="icon" slot-scope="data">
                <img :src="data.value">
            </slot>
            <slot slot="detail" slot-scope="data">
                <span :id="data.item.name_zh">{{ data.item.name_zh }}</span>
                <template v-if="config.LINKED_NAME">
                <span :id="data.item.name">
                        <a :href="`https://morloch.shadowbaneemulator.com/index.php?title=${data.item.name}`"
                           target="_blank">{{ data.item.name }}</a></span>
                </template>
                <template v-else>
                    <span :id="data.item.name">{{ data.item.name }}</span>
                </template>
            </slot>
            <slot slot="target" slot-scope="data">
                <template v-if="data.item.pos">
                    <span v-for="pos in data.item.pos" class="sign">
                        {{ pos.target || data.value }}
                        <br>
                        <template v-if="config.LINKED_LOCATION">
                        <a :href="`https://morloch.shadowbaneemulator.com/index.php?title=${pos.location}`"
                           target="_blank">{{ pos.location }}</a>
                        </template>
                        <template v-else>
                            {{ pos.location }}
                        </template>
                        <br>
                        ( {{ pos.coordinates.join(', ') }} )
                    </span>
                </template>
            </slot>
            <slot slot="zonesign" slot-scope="data">
                <template v-if="data.item.pos">
                    <span v-for="pos in data.item.pos" class="sign">
                        <i class="cross-zone" :style="crossZone(pos)"></i>
                        <img src="https://morloch.shadowbaneemulator.com/images/thumb/3/30/Newvorringia.JPG/700px-Newvorringia.JPG">
                    </span>
                </template>
            </slot>
            <slot slot="locationsign" slot-scope="data">
                <template v-if="data.item.pos">
                    <span v-for="pos in data.item.pos" class="sign">
                        <i class="cross-location" :style="crossLocation(pos)"></i>
                        <img :src="mapZone(pos)">
                    </span>
                </template>
            </slot>
            <slot slot="target_av" slot-scope="data">
                <template v-if="data.item.pos">
                    <span v-for="pos in data.item.pos" class="sign">
                        <img :src="pos.target_av || data.value">
                    </span>
                </template>
            </slot>
        </b-table>
    </div>
</div>
<script>
    window.$DATA = ['./data.json'];
    window.$CONFIG = {
        LINKED_NAME    : true,
        LINKED_LOCATION: true
    };
</script>
<script src="../script.min.js"></script>
</body>
</html>
