{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "rules": {
    "no-undef": "error",
    "semi": [
      "error",
      "always"
    ],
    "no-caller": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-proto": "error",
    "no-return-await": "error"
  }
}