textarea {

  resize: none;

  &:focus {
    outline: none;
  }
}

.tools-label, .tools-label:hover {
  text-align: center;
  background-color: @gray-base;
  color: @gray-light;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  margin-right: 1px;
  cursor: default;
}

.card {

  min-height: 128px;
  width: 100%;
  max-width: 400px;
  display: inline-block;
  margin: 8px;
  padding: 40px 16px 16px;
  position: relative;
  background-color: #646464;
  display: inline-block;

  .btn-default.hover, .btn-default:hover,
  .btn-default.focus, .btn-default:focus {
    color: #ffffff;
    background-color: #424242;
    border-color: #424242;
  }

  .btn-success.hover, .btn-success:hover,
  .btn-success.focus, .btn-success:focus {
    color: #ffffff;
    background-color: #77b300;
    border-color: #77b300;
  }

  .row {
    margin: 0 0 8px 0;
    position: relative;
  }

  .row-label {
    padding-top: 20px;
  }

  .tools-label {
    position: absolute;
    padding: 0 10px;
    top: 0;
    left: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    -ms-transform: scale(.8, .8);
    -o-transform: scale(.8, .8);
    transform: scale(.8, .8);
  }

  .btn {

    &:focus {
      outline: none;
    }
  }

  .tools-title {
    padding: 3px 6px;
    font-size: @font-size-base;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 4px;
    background-color: @gray-light;
    color: @gray-dark;
  }

  .form-control {
    border-color: @gray-light;
  }
}